@import './color.scss';
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    
    .popup__body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    .popup__content{
        min-height: 550px;
        background-color: $white;
        color: $black;
        min-width: 500px;
        padding: 30px;
        position: relative;
        border-radius: 12px;
    }
    .popup__close{
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 20px;
        color: $black;
        text-decoration: none;
        &:hover{
            transition: 0.5s all ease;
            color: $danger;
            transform: rotate(90deg);
        }
    }
    .popup__title{
        font-size: 40px;
        margin: 0px 0px 1em 0px;
        text-align: center;
    }
    .form{
        .inp, .select__item, .dp, .field__item, .field__itemBtn, .field__itemBtn__disabled{
            margin-bottom: 20px;
            border: 1px solid $gray;
            outline: none;
            padding: 7px 7px;
            border-radius: 12px;
            font-size: 20px;

        }
        .inp{
            width: 400px;
        }
        display: flex;
        flex-direction: column;
        .dp{
            text-align: center;
            width: 400px;
        }
        .field__item{
            width: 400px;
     
        }
        .field__itemBtn{
            cursor: pointer;
            &:hover{
                background-color: $gray;
                transition: 0.3s all ease;
            }
        }
    }
    
}