@import './color.scss';

.sidebar {
  padding: 0 10px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.makeTaskBtn {
  margin-top: 10px;
  border: 2px solid $gray;
  padding: 5px 32px;
  border-radius: 12px;
  outline: none;
  background-color: inherit;
  font-size: 20px;
  letter-spacing: 2.5px;
  &:hover {
    cursor: pointer;
    color: cadetblue;
    transition: 0.3s all ease;
  }
}
